@import './vars';
@import './fonts';

html {
  color: $color-text-primary;
  //background-color: $color-surface-primary;
  background-color: black;
  //background-color: $color-on-surface-dark-100;
  font-family: $font-family-raleway, $font-family-default;
  font-size: $font-size-16;
  line-height: $line-height-20;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
