@import 'src/app/styles/vars';

.DeckPage {
  position: relative;
  height: 100svh;
}

.DeckPage__loader {
  width: 50px !important;
  height: 50px !important;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
}